## Avoid nano line wrapping
alias nano="nano -w"

## Expire SSH keys in memory after 12 hours
alias ssh-add="ssh-add -t 43200"

##  Less highlighting
# Enable syntax-highlighting in less.
# brew install source-highlight
if brew ls --versions source-highlight > /dev/null; then
    if command -v brew > /dev/null; then
        export LESSOPEN="| $(brew list source-highlight | grep src-hilite-lesspipe.sh) %s"
        export LESS=" -R "
        alias less='less -i -J --underline-special --SILENT'
        alias more='less'
    fi
fi

## thefuck configuration
if command -v thefuck > /dev/null; then
    # short alias
    eval $(thefuck --alias)

    # SFW alias
    alias frak='thefuck'
fi

## Find shortcut
function f() {
  find . -iname "*$1*" -print | grep --color -i $1
}
## History grep
function hgrep() {
  history | grep "$1" | grep -v hgrep
}

## Directory shortcuts
alias ew="cd $HOME/git/ew/"

## Autojump (j)
if command -v brew > /dev/null; then
    [[ -s $(brew --prefix)/etc/profile.d/autojump.sh ]] && . $(brew --prefix)/etc/profile.d/autojump.sh
fi

## Git 
function git-fetch() {
  git fetch origin $(git branch | grep \* | cut -d ' ' -f2)
}
function git-rebase-origin() {
  git-fetch
  git rebase FETCH_HEAD
}